/* Define uma fonte padrão para todos os elementos */
* {
    font-family: 'Montserrat',sans-serif;
}

/* Estilos gerais para o corpo da pagina */
body {
    background-color: #252525;
    color: #fff;
}

/* Classes para diferentes cores do fundo */
.primary-bg-color {
    background-color: #252525;
}
.destaque {
    background-color: #0d0d0d;
}
.secondary-bg-color {
    background-color: #976df2;
}
.light-bg-color {
    background-color: #fcf5eb;
}
.dark-bg-color {
    background-color: #0d0d0d;
}

/* Classes para diferentes cores de texto */
.primary-color {
    color: #976df2;
}
.secondary-color {
    color: #f2f2f2;
}
.light-color {
    color: #fcf5eb;
}
/* ___________________________________________ */
/* Estilos para a barra de navegação (navbar)*/

/* Ajusta a direção e alinhamento dos itens da barra de navegação */
#navbar .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
}

/* Define margem a esquerda para os itens da barra de navegação */
#navbar .navbar-nav {
    margin-left: 1em;
}

/* Define a cor do texto e links na barra de navegação */
#navbar a,
#navbar button {
    color: #fff;
}

/* Ajusta a posição dos itens da barra de navegação */
#navbar li {
    position: relative;
}

/* Define estilo para ícones na barra de navegação */
#navbar i {
    font-size: 20px;
}

/* Define estilos de cor quando mouse passa sobre os icones */
#navbar i:hover {
    color: #976df2;
}

/* Define estilos para caixa com numero (ex: quantidade de itens) */
#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
}

/* Posiciona a caixa xom numero no item de sacola de compras */
#bag-item span {
    left: 20px;
}
/* Estilos para a marca/logo na barra de navegação */
#navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

/* Estilos de hover para links 'sobre' */
.sobre a:hover {
    color: #0d0d0d !important; /* Importante para sobrepor outros estilos*/
}

/* Ajusta estilos quando largura da tela é maior que 768px */
@media (min-width:768px) {
    .navbar-brand {
        text-align: left;
    }
}

/* Ajusta espaçamento entre itens da barra de navegação */
#navbar-items {
    justify-content: space-between;
}

/* Ajusta espaçamento quando a largura é maior que 768px */
@media(min-width: 768px) {
    #navbar-items {
        display: flex;
        min-width: 80%;
    }
}

/* Estilos para formularios de busca e mewletter */
#search-form,
#news-form {
    width: 100%;
    margin: 2em 0;
}

/* Ajusta largura  e margem quando a largura da tela é maior que 768px*/
@media(min-width:768px) {
    #search-form,
    #news-form {
        width: 50%;
        margin: 0;
    }
}

/* Estilos para campos de input em formularios */

#search-form,
#news-form {
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    padding: 5px 15px;
}

#search-form input,
#news-form input {
    background-color: transparent;
    border: none;
    color: #fff;
}

#search-form input:focus,
#news-form  input:focus {
     box-shadow: none;
}

#search-form input::placeholder,
#news-form  input::placeholder {
    color: #fff;
}

/* _________________________________________ */
/* Estilos para barra de navegação inferior (bottom-navbar) */

#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    color: #fff;
    font-weight: 600;
}

/* Define tamanho de icone do botão para mostrar/esconder o menu */
.navbar-toggler {
    font-size: 1.5em;
}